*{
    font-family: "Hanken Grotesk", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Sections */

.result-section{
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 25px;
    text-align: center;
    padding: 35px 44px;
    width: 222px;
}

.summary-section{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 35px 40px 35px 70px;
    position: relative;
    box-shadow: 10px 12px 25px -15px hsla(224, 30%, 27%, 0.4);
}

/* Result section */

.result-heading{
    color: hsl(241, 100%, 89%);
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 35px;
}

.result-circle{
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin: auto;
    color: hsl(240, 21%, 64%);
    font-weight: 800;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-number{
    color: white;
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 1.1;
}

.result-word{
    font-size: 1.8rem;
    color: white;
    margin: 30px 0 10px 0;
}

.result-comment{
    font-size: 0.9rem;
    color: hsl(241, 100%, 89%);;
}

/* Summary Section */

.summary-heading{
    font-size: 1.4rem;
    color: hsl(224, 30%, 27%);
    margin: 0 0 20px 0;
}

.skill-result{
    font-size: 1rem;
    font-weight: 700;
    padding: 14px 20px;
    margin: 15px 0;
    border-radius: 7px;
    position: relative;
}

.skill-icon, .skill-text{
    display: inline-block;
    vertical-align: middle;
}

.skill-result-number{
    color: hsla(224, 30%, 27%, 0.6);
    font-weight: 800;
    position: absolute;
    right: 14px;
}

.skill-result-number-bold{
    color: hsl(224, 30%, 27%);;
}

.reaction{
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.08);
}

.memory{
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.08);
}

.verbal{
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.08);
}

.visual{
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.08);
}

.btn-continue{
    display: inline-block;
    color: white;
    background-color: hsl(224, 30%, 27%);
    font-weight: 700;
    font-size: 0.9rem;
    padding: 13px 0;
    border-radius: 40px;
    width: 100%;
    margin: 15px auto 0 auto;
    cursor: pointer;
    text-align: center;
}

/* Responsive grid */

main{
    display: grid;
    grid-template-columns: 280px 365px;
}

@media (max-width: 375px){
    *{
        box-sizing: border-box;
    }

    main{
        display: block;
    }

    /* Sections */

    .result-section{
        width: 100%;
        border-radius: 0 0 35px 35px;
        padding: 35px 55px;
    }

    .summary-section{
        padding: 18px 30px;
        box-shadow: none;
    }

    /* Result section */

    .result-heading{
        margin-bottom: 25px;
        font-size: 1.1rem;
    }

    .result-circle{
        height: 9rem;
        width: 9rem;
    }

    .result-word{
        font-size: 1.4rem;
        margin: 20px 0 0 0;
    }

    .result-comment{
        margin: 10px 0 5px 0;
    }

    /* Summary Section*/

    .summary-heading{
        font-size: 1.1rem;
    }

    .btn-continue{
        font-size: 1rem;
    }

    /* Others */
    .attribution{
        display: none;
    }
}